* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.select-form {
	display: flex;
	position: relative;
}

select,
input,
button {
	border: 3px solid #879a8d;
	padding: 0.5%;
	outline: 0;
	font-size: 17px;
}

.offers-selection,
.search-field {
	border-right: 0;
}

.search-field {
	border-left: 0;
	width: 500px;
}

.region-h2 {
	margin: 16px;
}

.select-box {
	display: flex;
	width: 335px;
	flex-direction: column;
	font-size: 18px;
}

.select-box .options-container.active {
	width: 370px;
	display: block;
}

.select-box .options-container.active2 {
	width: 100% !important;
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	overflow-y: scroll;
}

.select-box .options-container {
	color: #000;
	max-height: 0;
	opacity: 0;
	width: 100%;
	display: none;
	border: 3px solid #879a8d;
	order: 1;
	position: absolute;
	top: 100%;
	left: 0;
}

.option {
	width: 100%;
}

.selected {
	color: #000;
	position: relative;
	order: 0;
	border: 3px solid #879a8d;
}

.selected:last-of-type {
	border-left: 0;
}

.selected-offers {
	border-left: 3px solid #879a8d !important;
}

.selected::after {
	content: '';
	background: url('img/arrow-down.svg');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	height: 100%;
	width: 25px;
	right: 0;
	top: 10px;
	transition: all 0.4s;
}

.select-box .options-container.active,
.select-box .options-container.active2 {
	max-height: 240px;
	opacity: 1;
	position: absolute;
	display: grid;
	top: 100%;
	background-color: #fff;
	border-top: 0 !important;
}

.select-box .option,
.selected {
	padding: 12px 24px;
	cursor: pointer;
	transition: 0.1s linear;
}

.select-box .option:hover {
	background: #414b57;
	color: #fff;
}

.select-box label {
	cursor: pointer;
}

.select-box .option .radio {
	display: none;
}

input[type='submit'] {
	padding: 1% 2%;
}

input[type='submit'] {
	cursor: pointer;
	transition: 0.1s linear;
}

input[type='submit']:hover {
	background-color: #414b57;
	color: #fff;
}

.offers-h2 {
	margin: 2.5% 0 4%;
	font-weight: 500;
}

.amount {
	color: #414b57;
	font-size: 16px;
	margin-left: 2%;
	font-weight: 400;
}

.offers-grid {
	display: grid;
	grid-template-columns: 28% 38% 33%;
	grid-template-rows: 25px 25px 25px 25px 25px 25px;
}

.grid-item a {
	text-decoration: none;
	color: rgb(93, 92, 92);
	font-size: 14px;
}

.grid-item a:hover {
	color: #000;
	text-decoration: underline;
}

@media screen and (max-width: 1024px) {
	select {
		padding-right: 5%;
	}

	.search-field {
		width: 350px;
	}

	.offers-grid {
		grid-template-columns: 50% 50%;
		grid-template-rows: 25px 25px 25px 25px 25px 25px 25px 25px 25px 35px;
	}
}

@media screen and (max-width: 725px) {
	select {
		padding-right: 2.5%;
	}

	.search-field {
		width: 200px;
	}

	.offers-grid {
		grid-template-columns: 55% 45%;
		grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px 40px;
	}
}

@media screen and (max-width: 600px) {
	select {
		padding-right: 0%;
	}

	.offers-h2 {
		text-align: center;
	}

	.offers-grid {
		grid-template-columns: 50%;
		grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 40px;
		/* text-align: center; */
		justify-content: center;
	}
}

@media screen and (max-width: 525px) {
	.select-form {
		display: grid;
		grid-template-columns: 200px 200px;
		grid-template-rows: 40px 40px;
	}

	.offers-grid {
		grid-template-columns: 70%;
	}
}

@media screen and (max-width: 450px) {
	.select-form {
		grid-template-columns: 300px;
		grid-template-rows: 40px 40px 40px 40px;
		grid-gap: 5px;
		margin-top: 8%;
	}

	.search-field {
		width: 300px;
	}

	.offers-grid {
		grid-template-columns: 90%;
	}
}
